@charset "UTF-8";
body{
	width: 100%;
}
.main_div{
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.title_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.memo1_div{
	width:95%;
	margin-top: 20px;
}
.embed1_div{
	width: 95%;
	text-align: center;
}
.embed1_1_embed{
	width: 95%;
	height: 300px;
	margin-top: 25px;
}
.memo2_div{
	width:95%;
	margin-top: 20px;
}
.image1_div{
	width: 95%;
	text-align: center;
}
.image1_1_img,.image1_2_img,.image1_3_img,.image1_4_img,.image1_5_img{
	width: 95%;
	height: 300px;
	margin-top: 25px;
}