@charset "UTF-8";
body{
	background-color: #fbfbfb;
}
.xzewmBg_div{
	width:100%;height:100%;background:rgba(0,0,0,0.5);position: fixed;display:none;z-index: 1;
}
.xzewm_div{
	width: 350px;height:390px;margin: 0 auto;margin-top: 240px;background-color: #fff;border-radius: 6px;
}
.xzewm_div .close_div{
	width: 100%;height: 50px;line-height: 50px;
}
.xzewm_div .close_span{
	float: right;margin-right: 20px;cursor: pointer;
}
.xzewm_div .qrcodeImg_div{
	width:230px;height:230px;margin: auto;
}
.xzewm_div .qrcode_img{
	width:100%;height:100%;
}
.xzewm_div .xzBut_div{
	width: 200px;height: 50px;margin: 20px auto 0;text-align:center;color:#fff;
	background-color: #4caf50;
	cursor:pointer;
	border-radius:3px;
}
.xzewm_div .xz_text_span{
	font-size: 20px;
}
.xzewm_div .xs_text_span{
	font-size: 12px;
}

.main_div{
	width: 630px;
	margin: 0 auto;
	background-color: #fbfbfb;
}
.top_div{
	width: 100%;
	height: 60px;
	border:1px solid #a7e1c4;
	background-color: #ebf8f2;
}
.createSuccess_img{
	width: 30px;
	height: 30px;
	margin-top: 15px;
	margin-left: 30px;
}
.createSuccess_span{
	margin-top: 18px;
	margin-left: 30px;
	font-size: 15px;
	position: absolute;
}
.createQrcode_a{
	float: right;
	margin-top: 18px;
	margin-right: 50px;
	color: #357bb3;
}
.top_div .return_a{
	float: right;
	margin-top: 18px;
	margin-right: 40px;
	color: #357bb3;
}
.left_div{
	width: 350px;
	height:800px;
	margin-top: 20px;
	background-color: #fff;
	float: left;
	overflow-y:auto;
}
.productName_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.image1_div{
	width: 95%;
	margin: auto;
	text-align: center;
}
.image1_1_img,.image1_2_img,.image1_3_img,.image1_4_img,.image1_5_img{
	width: 95%;
	margin-top: 25px;
}
.spxq_div,.yhxx_div{
	margin-top: 20px;
}
.spxq_tab,.yhxx_tab{
	width: 95%;
	margin: 0 auto;
	border: #eee solid 1px;
}
.spxq_tab .head_td,.yhxx_tab .head_td{
	text-align: center;
	background-color: #fbfbfb;
}
.spxq_tab .name_td,.yhxx_tab .name_td{
	width:25%;
	border: #eee solid 1px;
	padding-left: 20px;
}
.spxq_tab .value_td,.yhxx_tab .value_td{
	width:75%;
	border: #eee solid 1px;
	padding-left: 20px;
}
.memo1_div,.memo2_div{
	width:95%;
	margin: 20px auto 0;
}
.right_div{
	width:250px;
	height: 410px;
	margin-top:20px;
	margin-left:30px;
	background-color: #fff;
	float: left;
}
.right_div .qrcode_div{
	width: 100%;
	height: 315px;
}
.downloadQrcode1_div{
	float: left;
	width:250px;
	height: 282px;
	margin-top:15px;
}
.right_div .qrcode_img{
	width: 250px;
	height: 250px;
}
.downloadQrcode2_div{
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin:0 auto;
	border:1px solid #eee;
	cursor:pointer;
	border-radius:3px;
}
.line1_div,.line2_div{
	width: 205px;
	height: 1px;
	margin-left:20px; 
	background-color: #eee;
}
.right_div .option2_div{
	width: 100%;
	height: 50px;
	margin-top:15px;
}
.editContent_div{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin-left:25px;
	color:#fff;
	background-color: #4caf50;
	cursor:pointer;
	border-radius:3px;
}
.right_div .option3_div{
	float: left;
	width:100px;
	margin-top: 5px;
	margin-left: 10px;
}
.createCopy_a{
	color: #357bb3;
}
.delete_a{
	color: #357bb3;
}