@charset "UTF-8";
body{
	width: 100%;
}
.main_div{
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.title1_div,.title2_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin:auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.embed1_div{
	width: 95%;
	margin:auto;
	text-align: center;
}
.embed1_1_embed{
	width: 95%;
	height: 300px;
	margin-top: 25px;
}
.memo1_div{
	width:95%;
	margin: 20px auto 0;
}
.embed2_div{
	width: 95%;
	margin:0 auto 20px;
	text-align: center;
}
.embed2_1_embed{
	width: 95%;
	height: 55px;
	margin-top: 25px;
}