<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsPublic.dao.PublicMapper">
	<insert id="addGoodsPublic" parameterType="goodsPublic.entity.Goods" >
		insert into public_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id!=null">
				category_id,
			</if>
			<if test="accountNumber!=null">
				accountNumber,
			</if>
			<if test="goodsNumber!=null">
				goodsNumber,
			</if>
			<if test="title!=null">
				title,
			</if>
			<if test="imgUrl!=null">
				imgUrl,
			</if>
			<if test="htmlContent!=null">
				htmlContent,
			</if>
			<if test="key1!=null">
				key1,
			</if>
			<if test="key2!=null">
				key2,
			</if>
			<if test="key3!=null">
				key3,
			</if>
			<if test="key4!=null">
				key4,
			</if>
			<if test="key5!=null">
				key5,
			</if>
			<if test="key6!=null">
				key6,
			</if>
			<if test="key7!=null">
				key7,
			</if>
			<if test="key8!=null">
				key8,
			</if>
			<if test="key9!=null">
				key9,
			</if>
			<if test="key10!=null">
				key10,
			</if>
			<if test="key11!=null">
				key11,
			</if>
			<if test="key12!=null">
				key12,
			</if>
			<if test="key13!=null">
				key13,
			</if>
			<if test="key14!=null">
				key14,
			</if>
			<if test="key15!=null">
				key15,
			</if>
			<if test="key16!=null">
				key16,
			</if>
			<if test="key17!=null">
				key17,
			</if>
			<if test="key18!=null">
				key18,
			</if>
			<if test="key19!=null">
				key19,
			</if>
			<if test="key20!=null">
				key20,
			</if>
			<if test="key21!=null">
				key21,
			</if>
			<if test="key22!=null">
				key22,
			</if>
			<if test="key23!=null">
				key23,
			</if>
			<if test="key24!=null">
				key24,
			</if>
			<if test="key25!=null">
				key25,
			</if>
			<if test="key26!=null">
				key26,
			</if>
			<if test="key27!=null">
				key27,
			</if>
			<if test="key28!=null">
				key28,
			</if>
			<if test="key29!=null">
				key29,
			</if>
			<if test="key30!=null">
				key30,
			</if>
			<if test="key31!=null">
				key31,
			</if>
			<if test="key32!=null">
				key32,
			</if>
			<if test="key33!=null">
				key33,
			</if>
			<if test="key34!=null">
				key34,
			</if>
			<if test="key35!=null">
				key35,
			</if>
			<if test="key36!=null">
				key36,
			</if>
			<if test="key37!=null">
				key37,
			</if>
			<if test="key38!=null">
				key38,
			</if>
			<if test="key39!=null">
				key39,
			</if>
			<if test="key40!=null">
				key40,
			</if>
			<if test="key41!=null">
				key41,
			</if>
			<if test="key42!=null">
				key42,
			</if>
			<if test="key43!=null">
				key43,
			</if>
			<if test="key44!=null">
				key44,
			</if>
			<if test="key45!=null">
				key45,
			</if>
			<if test="key46!=null">
				key46,
			</if>
			gmt_create
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id!=null">
				#{category_id},
			</if>
			<if test="accountNumber!=null">
				#{accountNumber},
			</if>
			<if test="goodsNumber!=null">
				#{goodsNumber},
			</if>
			<if test="title!=null">
				#{title},
			</if>
			<if test="imgUrl!=null">
				#{imgUrl},
			</if>
			<if test="htmlContent!=null">
				#{htmlContent},
			</if>
			<if test="key1!=null">
				#{key1},
			</if>
			<if test="key2!=null">
				#{key2},
			</if>
			<if test="key3!=null">
				#{key3},
			</if>
			<if test="key4!=null">
				#{key4},
			</if>
			<if test="key5!=null">
				#{key5},
			</if>
			<if test="key6!=null">
				#{key6},
			</if>
			<if test="key7!=null">
				#{key7},
			</if>
			<if test="key8!=null">
				#{key8},
			</if>
			<if test="key9!=null">
				#{key9},
			</if>
			<if test="key10!=null">
				#{key10},
			</if>
			<if test="key11!=null">
				#{key11},
			</if>
			<if test="key12!=null">
				#{key12},
			</if>
			<if test="key13!=null">
				#{key13},
			</if>
			<if test="key14!=null">
				#{key14},
			</if>
			<if test="key15!=null">
				#{key15},
			</if>
			<if test="key16!=null">
				#{key16},
			</if>
			<if test="key17!=null">
				#{key17},
			</if>
			<if test="key18!=null">
				#{key18},
			</if>
			<if test="key19!=null">
				#{key19},
			</if>
			<if test="key20!=null">
				#{key20},
			</if>
			<if test="key21!=null">
				#{key21},
			</if>
			<if test="key22!=null">
				#{key22},
			</if>
			<if test="key23!=null">
				#{key23},
			</if>
			<if test="key24!=null">
				#{key24},
			</if>
			<if test="key25!=null">
				#{key25},
			</if>
			<if test="key26!=null">
				#{key26},
			</if>
			<if test="key27!=null">
				#{key27},
			</if>
			<if test="key28!=null">
				#{key28},
			</if>
			<if test="key29!=null">
				#{key29},
			</if>
			<if test="key30!=null">
				#{key30},
			</if>
			<if test="key31!=null">
				#{key31},
			</if>
			<if test="key32!=null">
				#{key32},
			</if>
			<if test="key33!=null">
				#{key33},
			</if>
			<if test="key34!=null">
				#{key34},
			</if>
			<if test="key35!=null">
				#{key35},
			</if>
			<if test="key36!=null">
				#{key36},
			</if>
			<if test="key37!=null">
				#{key37},
			</if>
			<if test="key38!=null">
				#{key38},
			</if>
			<if test="key39!=null">
				#{key39},
			</if>
			<if test="key40!=null">
				#{key40},
			</if>
			<if test="key41!=null">
				#{key41},
			</if>
			<if test="key42!=null">
				#{key42},
			</if>
			<if test="key43!=null">
				#{key43},
			</if>
			<if test="key44!=null">
				#{key44},
			</if>
			<if test="key45!=null">
				#{key45},
			</if>
			<if test="key46!=null">
				#{key46},
			</if>
			now()
		</trim>
	</insert>
	<insert id="addHtmlGoodsSPZS" parameterType="goodsPublic.entity.HtmlGoodsSPZS">
		insert into html_goods_spzs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productName!=null">
				productName,
			</if>
			<if test="spxqName1!=null">
				spxqName1,
			</if>
			<if test="spxqValue1!=null">
				spxqValue1,
			</if>
			<if test="spxqIfShow1!=null">
				spxqIfShow1,
			</if>
			<if test="spxqName2!=null">
				spxqName2,
			</if>
			<if test="spxqValue2!=null">
				spxqValue2,
			</if>
			<if test="spxqIfShow2!=null">
				spxqIfShow2,
			</if>
			<if test="spxqName3!=null">
				spxqName3,
			</if>
			<if test="spxqValue3!=null">
				spxqValue3,
			</if>
			<if test="spxqIfShow3!=null">
				spxqIfShow3,
			</if>
			<if test="spxqName4!=null">
				spxqName4,
			</if>
			<if test="spxqValue4!=null">
				spxqValue4,
			</if>
			<if test="spxqIfShow4!=null">
				spxqIfShow4,
			</if>
			<if test="spxqName5!=null">
				spxqName5,
			</if>
			<if test="spxqValue5!=null">
				spxqValue5,
			</if>
			<if test="spxqIfShow5!=null">
				spxqIfShow5,
			</if>
			<if test="spxqName6!=null">
				spxqName6,
			</if>
			<if test="spxqValue6!=null">
				spxqValue6,
			</if>
			<if test="spxqIfShow6!=null">
				spxqIfShow6,
			</if>
			<if test="image1_1!=null">
				image1_1,
			</if>
			<if test="image1_2!=null">
				image1_2,
			</if>
			<if test="image1_3!=null">
				image1_3,
			</if>
			<if test="image1_4!=null">
				image1_4,
			</if>
			<if test="image1_5!=null">
				image1_5,
			</if>
			<if test="image2_1!=null">
				image2_1,
			</if>
			<if test="image2_2!=null">
				image2_2,
			</if>
			<if test="image2_3!=null">
				image2_3,
			</if>
			<if test="image2_4!=null">
				image2_4,
			</if>
			<if test="image2_5!=null">
				image2_5,
			</if>
			<if test="image3_1!=null">
				image3_1,
			</if>
			<if test="image3_2!=null">
				image3_2,
			</if>
			<if test="image3_3!=null">
				image3_3,
			</if>
			<if test="image3_4!=null">
				image3_4,
			</if>
			<if test="image3_5!=null">
				image3_5,
			</if>
			<if test="memo1!=null">
				memo1,
			</if>
			<if test="memo2!=null">
				memo2,
			</if>
			<if test="memo3!=null">
				memo3,
			</if>
			<if test="qrCode!=null">
				qrCode,
			</if>
				gmtCreate,
			<if test="goodsNumber!=null">
				goodsNumber,
			</if>
			<if test="accountNumber!=null">
				accountNumber,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productName!=null">
				#{productName},
			</if>
			<if test="spxqName1!=null">
				#{spxqName1},
			</if>
			<if test="spxqValue1!=null">
				#{spxqValue1},
			</if>
			<if test="spxqIfShow1!=null">
				#{spxqIfShow1},
			</if>
			<if test="spxqName2!=null">
				#{spxqName2},
			</if>
			<if test="spxqValue2!=null">
				#{spxqValue2},
			</if>
			<if test="spxqIfShow2!=null">
				#{spxqIfShow2},
			</if>
			<if test="spxqName3!=null">
				#{spxqName3},
			</if>
			<if test="spxqValue3!=null">
				#{spxqValue3},
			</if>
			<if test="spxqIfShow3!=null">
				#{spxqIfShow3},
			</if>
			<if test="spxqName4!=null">
				#{spxqName4},
			</if>
			<if test="spxqValue4!=null">
				#{spxqValue4},
			</if>
			<if test="spxqIfShow4!=null">
				#{spxqIfShow4},
			</if>
			<if test="spxqName5!=null">
				#{spxqName5},
			</if>
			<if test="spxqValue5!=null">
				#{spxqValue5},
			</if>
			<if test="spxqIfShow5!=null">
				#{spxqIfShow5},
			</if>
			<if test="spxqName6!=null">
				#{spxqName6},
			</if>
			<if test="spxqValue6!=null">
				#{spxqValue6},
			</if>
			<if test="spxqIfShow6!=null">
				#{spxqIfShow6},
			</if>
			<if test="image1_1!=null">
				#{image1_1},
			</if>
			<if test="image1_2!=null">
				#{image1_2},
			</if>
			<if test="image1_3!=null">
				#{image1_3},
			</if>
			<if test="image1_4!=null">
				#{image1_4},
			</if>
			<if test="image1_5!=null">
				#{image1_5},
			</if>
			<if test="image2_1!=null">
				#{image2_1},
			</if>
			<if test="image2_2!=null">
				#{image2_2},
			</if>
			<if test="image2_3!=null">
				#{image2_3},
			</if>
			<if test="image2_4!=null">
				#{image2_4},
			</if>
			<if test="image2_5!=null">
				#{image2_5},
			</if>
			<if test="image3_1!=null">
				#{image3_1},
			</if>
			<if test="image3_2!=null">
				#{image3_2},
			</if>
			<if test="image3_3!=null">
				#{image3_3},
			</if>
			<if test="image3_4!=null">
				#{image3_4},
			</if>
			<if test="image3_5!=null">
				#{image3_5},
			</if>
			<if test="memo1!=null">
				#{memo1},
			</if>
			<if test="memo2!=null">
				#{memo2},
			</if>
			<if test="memo3!=null">
				#{memo3},
			</if>
			<if test="qrCode!=null">
				#{qrCode},
			</if>
				now(),
			<if test="goodsNumber!=null">
				#{goodsNumber},
			</if>
			<if test="accountNumber!=null">
				#{accountNumber},
			</if>
		</trim>
	</insert>
	<insert id="addHtmlGoodsJZSG" parameterType="goodsPublic.entity.HtmlGoodsJZSG">
		insert into html_goods_jzsg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title!=null">
				title,
			</if>
			<if test="ryxxName1!=null">
				ryxxName1,
			</if>
			<if test="ryxxValue1!=null">
				ryxxValue1,
			</if>
			<if test="ryxxIfShow1!=null">
				ryxxIfShow1,
			</if>
			<if test="ryxxName2!=null">
				ryxxName2,
			</if>
			<if test="ryxxValue2!=null">
				ryxxValue2,
			</if>
			<if test="ryxxIfShow2!=null">
				ryxxIfShow2,
			</if>
			<if test="ryxxName3!=null">
				ryxxName3,
			</if>
			<if test="ryxxValue3!=null">
				ryxxValue3,
			</if>
			<if test="ryxxIfShow3!=null">
				ryxxIfShow3,
			</if>
			<if test="ryxxName4!=null">
				ryxxName4,
			</if>
			<if test="ryxxValue4!=null">
				ryxxValue4,
			</if>
			<if test="ryxxIfShow4!=null">
				ryxxIfShow4,
			</if>
			<if test="ryxxName5!=null">
				ryxxName5,
			</if>
			<if test="ryxxValue5!=null">
				ryxxValue5,
			</if>
			<if test="ryxxIfShow5!=null">
				ryxxIfShow5,
			</if>
			<if test="ryxxName6!=null">
				ryxxName6,
			</if>
			<if test="ryxxValue6!=null">
				ryxxValue6,
			</if>
			<if test="ryxxIfShow6!=null">
				ryxxIfShow6,
			</if>
			<if test="image1_1!=null">
				image1_1,
			</if>
			<if test="image1_2!=null">
				image1_2,
			</if>
			<if test="image1_3!=null">
				image1_3,
			</if>
			<if test="image2_1!=null">
				image2_1,
			</if>
			<if test="image2_2!=null">
				image2_2,
			</if>
			<if test="image2_3!=null">
				image2_3,
			</if>
			<if test="qrCode!=null">
				qrCode,
			</if>
				gmtCreate,
			<if test="userNumber!=null">
				userNumber,
			</if>
			<if test="accountNumber!=null">
				accountNumber,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title!=null">
				#{title},
			</if>
			<if test="ryxxName1!=null">
				#{ryxxName1},
			</if>
			<if test="ryxxValue1!=null">
				#{ryxxValue1},
			</if>
			<if test="ryxxIfShow1!=null">
				#{ryxxIfShow1},
			</if>
			<if test="ryxxName2!=null">
				#{ryxxName2},
			</if>
			<if test="ryxxValue2!=null">
				#{ryxxValue2},
			</if>
			<if test="ryxxIfShow2!=null">
				#{ryxxIfShow2},
			</if>
			<if test="ryxxName3!=null">
				#{ryxxName3},
			</if>
			<if test="ryxxValue3!=null">
				#{ryxxValue3},
			</if>
			<if test="ryxxIfShow3!=null">
				#{ryxxIfShow3},
			</if>
			<if test="ryxxName4!=null">
				#{ryxxName4},
			</if>
			<if test="ryxxValue4!=null">
				#{ryxxValue4},
			</if>
			<if test="ryxxIfShow4!=null">
				#{ryxxIfShow4},
			</if>
			<if test="ryxxName5!=null">
				#{ryxxName5},
			</if>
			<if test="ryxxValue5!=null">
				#{ryxxValue5},
			</if>
			<if test="ryxxIfShow5!=null">
				#{ryxxIfShow5},
			</if>
			<if test="ryxxName6!=null">
				#{ryxxName6},
			</if>
			<if test="ryxxValue6!=null">
				#{ryxxValue6},
			</if>
			<if test="ryxxIfShow6!=null">
				#{ryxxIfShow6},
			</if>
			<if test="image1_1!=null">
				#{image1_1},
			</if>
			<if test="image1_2!=null">
				#{image1_2},
			</if>
			<if test="image1_3!=null">
				#{image1_3},
			</if>
			<if test="image2_1!=null">
				#{image2_1},
			</if>
			<if test="image2_2!=null">
				#{image2_2},
			</if>
			<if test="image2_3!=null">
				#{image2_3},
			</if>
			<if test="qrCode!=null">
				#{qrCode},
			</if>
				now(),
			<if test="userNumber!=null">
				#{userNumber},
			</if>
			<if test="accountNumber!=null">
				#{accountNumber},
			</if>
		</trim>
	</insert>
	<update id="editHtmlGoodsSPZS" parameterType="goodsPublic.entity.HtmlGoodsSPZS">
		update html_goods_spzs set
		<if test="productName!=null">
			productName=#{productName},
		</if>
		<if test="spxqName1!=null">
			spxqName1=#{spxqName1},
		</if>
		<if test="spxqValue1!=null">
			spxqValue1=#{spxqValue1},
		</if>
		<if test="spxqIfShow1!=null">
			spxqIfShow1=#{spxqIfShow1},
		</if>
		<if test="spxqName2!=null">
			spxqName2=#{spxqName2},
		</if>
		<if test="spxqValue2!=null">
			spxqValue2=#{spxqValue2},
		</if>
		<if test="spxqIfShow2!=null">
			spxqIfShow2=#{spxqIfShow2},
		</if>
		<if test="spxqName3!=null">
			spxqName3=#{spxqName3},
		</if>
		<if test="spxqValue3!=null">
			spxqValue3=#{spxqValue3},
		</if>
		<if test="spxqIfShow3!=null">
			spxqIfShow3=#{spxqIfShow3},
		</if>
		<if test="spxqName4!=null">
			spxqName4=#{spxqName4},
		</if>
		<if test="spxqValue4!=null">
			spxqValue4=#{spxqValue4},
		</if>
		<if test="spxqIfShow4!=null">
			spxqIfShow4=#{spxqIfShow4},
		</if>
		<if test="spxqName5!=null">
			spxqName5=#{spxqName5},
		</if>
		<if test="spxqValue5!=null">
			spxqValue5=#{spxqValue5},
		</if>
		<if test="spxqIfShow5!=null">
			spxqIfShow5=#{spxqIfShow5},
		</if>
		<if test="spxqName6!=null">
			spxqName6=#{spxqName6},
		</if>
		<if test="spxqValue6!=null">
			spxqValue6=#{spxqValue6},
		</if>
		<if test="spxqIfShow6!=null">
			spxqIfShow6=#{spxqIfShow6},
		</if>
		<if test="image1_1!=null">
			image1_1=#{image1_1},
		</if>
		<if test="image1_2!=null">
			image1_2=#{image1_2},
		</if>
		<if test="image1_3!=null">
			image1_3=#{image1_3},
		</if>
		<if test="image1_4!=null">
			image1_4=#{image1_4},
		</if>
		<if test="image1_5!=null">
			image1_5=#{image1_5},
		</if>
		<if test="image2_1!=null">
			image2_1=#{image2_1},
		</if>
		<if test="image2_2!=null">
			image2_2=#{image2_2},
		</if>
		<if test="image2_3!=null">
			image2_3=#{image2_3},
		</if>
		<if test="image2_4!=null">
			image2_4=#{image2_4},
		</if>
		<if test="image2_5!=null">
			image2_5=#{image2_5},
		</if>
		<if test="image3_1!=null">
			image3_1=#{image3_1},
		</if>
		<if test="image3_2!=null">
			image3_2=#{image3_2},
		</if>
		<if test="image3_3!=null">
			image3_3=#{image3_3},
		</if>
		<if test="image3_4!=null">
			image3_4=#{image3_4},
		</if>
		<if test="image3_5!=null">
			image3_5=#{image3_5},
		</if>
		<if test="memo1!=null">
			memo1=#{memo1},
		</if>
		<if test="memo2!=null">
			memo2=#{memo2},
		</if>
		<if test="memo3!=null">
			memo3=#{memo3},
		</if>
		gmtCreate=now()
		where id=#{id}
	</update>
	<update id="updateQrcode" parameterType="java.lang.String">
		update public_goods set qrCode=#{param1} where goodsNumber=#{param2}
	</update>
	<update id="updateSingleGoods" parameterType="goodsPublic.entity.Goods">
		update public_goods set 
		<if test="category_id!=null">
			category_id=#{category_id},
		</if>
		<if test="title!=null">
			title=#{title},
		</if>
		<if test="imgUrl!=''&amp;imgUrl!=null">
			imgUrl=#{imgUrl},
		</if>
		<if test="htmlContent!=null">
			htmlContent=#{htmlContent},
		</if>
		<if test="key1!=null">
				key1=#{key1},
		</if>
		<if test="key2!=null">
			key2=#{key2},
		</if>
		<if test="key3!=null">
			key3=#{key3},
		</if>
		<if test="key4!=null">
			key4=#{key4},
		</if>
		<if test="key5!=null">
			key5=#{key5},
		</if>
		<if test="key6!=null">
			key6=#{key6},
		</if>
		<if test="key7!=null">
			key7=#{key7},
		</if>
		<if test="key8!=null">
			key8=#{key8},
		</if>
		<if test="key9!=null">
			key9=#{key9},
		</if>
		<if test="key10!=null">
			key10=#{key10},
		</if>
		<if test="key11!=null">
			key11=#{key11},
		</if>
		<if test="key12!=null">
			key12=#{key12},
		</if>
		<if test="key13!=null">
			key13=#{key13},
		</if>
		<if test="key14!=null">
			key14=#{key14},
		</if>
		<if test="key15!=null">
			key15=#{key15},
		</if>
		<if test="key16!=null">
			key16=#{key16},
		</if>
		<if test="key17!=null">
			key17=#{key17},
		</if>
		<if test="key18!=null">
			key18=#{key18},
		</if>
		<if test="key19!=null">
			key19=#{key19},
		</if>
		<if test="key20!=null">
			key20=#{key20},
		</if>
		<if test="key21!=null">
			key21=#{key21},
		</if>
		<if test="key22!=null">
			key22=#{key22},
		</if>
		<if test="key23!=null">
			key23=#{key23},
		</if>
		<if test="key24!=null">
			key24=#{key24},
		</if>
		<if test="key25!=null">
			key25=#{key25},
		</if>
		<if test="key26!=null">
			key26=#{key26},
		</if>
		<if test="key27!=null">
			key27=#{key27},
		</if>
		<if test="key28!=null">
			key28=#{key28},
		</if>
		<if test="key29!=null">
			key29=#{key29},
		</if>
		<if test="key30!=null">
			key30=#{key30},
		</if>
		<if test="key31!=null">
			key31=#{key31},
		</if>
		<if test="key32!=null">
			key32=#{key32},
		</if>
		<if test="key33!=null">
			key33=#{key33},
		</if>
		<if test="key34!=null">
			key34=#{key34},
		</if>
		<if test="key35!=null">
			key35=#{key35},
		</if>
		<if test="key36!=null">
			key36=#{key36},
		</if>
		<if test="key37!=null">
			key37=#{key37},
		</if>
		<if test="key38!=null">
			key38=#{key38},
		</if>
		<if test="key39!=null">
			key39=#{key39},
		</if>
		<if test="key40!=null">
			key40=#{key40},
		</if>
		<if test="key41!=null">
			key41=#{key41},
		</if>
		<if test="key42!=null">
			key42=#{key42},
		</if>
		<if test="key43!=null">
			key43=#{key43},
		</if>
		<if test="key44!=null">
			key44=#{key44},
		</if>
		<if test="key45!=null">
			key45=#{key45},
		</if>
		<if test="key46!=null">
			key46=#{key46},
		</if>
		gmt_modified=now()
		where id=#{id}
	</update>
	<update id="updatePublicGoods" parameterType="goodsPublic.entity.Goods">
		update public_goods set 
		<if test="title!=null">
			title=#{title},
		</if>
		<if test="imgUrl!=''&amp;imgUrl!=null">
			imgUrl=#{imgUrl},
		</if>
		<if test="htmlContent!=null">
			htmlContent=#{htmlContent},
		</if>
		<if test="key1!=null">
				key1=#{key1},
		</if>
		<if test="key2!=null">
			key2=#{key2},
		</if>
		<if test="key3!=null">
			key3=#{key3},
		</if>
		<if test="key4!=null">
			key4=#{key4},
		</if>
		<if test="key5!=null">
			key5=#{key5},
		</if>
		<if test="key6!=null">
			key6=#{key6},
		</if>
		<if test="key7!=null">
			key7=#{key7},
		</if>
		<if test="key8!=null">
			key8=#{key8},
		</if>
		<if test="key9!=null">
			key9=#{key9},
		</if>
		<if test="key10!=null">
			key10=#{key10},
		</if>
		<if test="key11!=null">
			key11=#{key11},
		</if>
		<if test="key12!=null">
			key12=#{key12},
		</if>
		<if test="key13!=null">
			key13=#{key13},
		</if>
		<if test="key14!=null">
			key14=#{key14},
		</if>
		<if test="key15!=null">
			key15=#{key15},
		</if>
		<if test="key16!=null">
			key16=#{key16},
		</if>
		<if test="key17!=null">
			key17=#{key17},
		</if>
		<if test="key18!=null">
			key18=#{key18},
		</if>
		<if test="key19!=null">
			key19=#{key19},
		</if>
		<if test="key20!=null">
			key20=#{key20},
		</if>
		<if test="key21!=null">
			key21=#{key21},
		</if>
		<if test="key22!=null">
			key22=#{key22},
		</if>
		<if test="key23!=null">
			key23=#{key23},
		</if>
		<if test="key24!=null">
			key24=#{key24},
		</if>
		<if test="key25!=null">
			key25=#{key25},
		</if>
		<if test="key26!=null">
			key26=#{key26},
		</if>
		<if test="key27!=null">
			key27=#{key27},
		</if>
		<if test="key28!=null">
			key28=#{key28},
		</if>
		<if test="key29!=null">
			key29=#{key29},
		</if>
		<if test="key30!=null">
			key30=#{key30},
		</if>
		<if test="key31!=null">
			key31=#{key31},
		</if>
		<if test="key32!=null">
			key32=#{key32},
		</if>
		<if test="key33!=null">
			key33=#{key33},
		</if>
		<if test="key34!=null">
			key34=#{key34},
		</if>
		<if test="key35!=null">
			key35=#{key35},
		</if>
		<if test="key36!=null">
			key36=#{key36},
		</if>
		<if test="key37!=null">
			key37=#{key37},
		</if>
		<if test="key38!=null">
			key38=#{key38},
		</if>
		<if test="key39!=null">
			key39=#{key39},
		</if>
		<if test="key40!=null">
			key40=#{key40},
		</if>
		<if test="key41!=null">
			key41=#{key41},
		</if>
		<if test="key42!=null">
			key42=#{key42},
		</if>
		<if test="key43!=null">
			key43=#{key43},
		</if>
		<if test="key44!=null">
			key44=#{key44},
		</if>
		<if test="key45!=null">
			key45=#{key45},
		</if>
		<if test="key46!=null">
			key46=#{key46},
		</if>
		gmt_modified=now()
		where category_id=#{category_id} and accountNumber=#{accountNumber}
	</update>
	<update id="editAccountInfo" parameterType="goodsPublic.entity.AccountMsg">
		update account_info set 
		<if test="avatar_img!=''&amp;avatar_img!=null">
			avatar_img=#{avatar_img},
		</if>
		<if test="companyName!=''&amp;companyName!=null">
			companyName=#{companyName},
		</if>
		<if test="companyAddress!=''&amp;companyAddress!=null">
			companyAddress=#{companyAddress},
		</if>
		<if test="postcode!=''&amp;postcode!=null">
			postcode=#{postcode},
		</if>
		<if test="phone!=''&amp;phone!=null">
			phone=#{phone},
		</if>
		<if test="quotient!=''&amp;quotient!=null">
			quotient=#{quotient},
		</if>
		<if test="fax!=''&amp;fax!=null">
			fax=#{fax},
		</if>
		<if test="email!=''&amp;email!=null">
			email=#{email},
		</if>
		<if test="countCode!=''&amp;countCode!=null">
			countCode=#{countCode},
		</if>
		<if test="recordNumber!=''&amp;recordNumber!=null">
			recordNumber=#{recordNumber},
		</if>
		<if test="nickName!=''&amp;nickName!=null">
			nickName=#{nickName}
		</if>
		where id=#{id}
	</update>
	<select id="getAllGoodsMsg" resultType="goodsPublic.entity.Goods">
		select * from public_goods
		where goodsNumber=#{goodsNumber}
	</select>
	<select id="queryGoodsForInt" resultType="java.lang.Integer">
		select count(*) from public_goods where accountNumber=#{param1} and category_id=#{param2}
	</select>
	<select id="queryHtmlGoodsSPZSForInt" resultType="java.lang.Integer">
		select count(*) from html_goods_spzs where accountNumber=#{param1}
	</select>
	<select id="queryHtmlGoodsJZSGForInt" resultType="java.lang.Integer">
		select count(*) from html_goods_jzsg where accountNumber=#{param1}
	</select>
	<select id="queryGoodsList" resultType="goodsPublic.entity.Goods">
		select * from public_goods where accountNumber=#{param1} and category_id=#{param2} limit ${param3},${param4}
	</select>
	<select id="queryHtmlGoodsSPZSList" resultType="goodsPublic.entity.HtmlGoodsSPZS">
		select * from html_goods_spzs where accountNumber=#{param1} limit ${param2},${param3}
	</select>
	<select id="queryHtmlGoodsJZSGList" resultType="goodsPublic.entity.HtmlGoodsJZSG">
		select * from html_goods_jzsg where accountNumber=#{param1} limit ${param2},${param3}
	</select>
	<select id="queryGoodsListByCateId" resultType="goodsPublic.entity.Goods">
		select goodsNumber,title,imgUrl,category_id from public_goods where category_id=#{param1} and accountNumber=#{param2}
	</select>
	<select id="getGoodsById" resultType="goodsPublic.entity.Goods">
		select * from public_goods where id=#{param1}
	</select>
	<select id="getAccountById" resultType="goodsPublic.entity.AccountMsg">
		select * from account_info where id=#{param1}
	</select>
	<select id="getGoodsListByMsg" resultType="int">
		select count(*) from public_goods where accountNumber=#{id}
	</select>
	<select id="getGoodsLabelSetByModuleAccountId" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where module=#{module} and accountNumber=#{accountNumber} and isShow=1 order by sort
	</select>
	<select id="queryGoodsLabelSetForInt" resultType="java.lang.Integer">
		select count(*) from goods_label_set where accountNumber=#{param1}
	</select>
	<select id="queryGoodsLabelSetList" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where accountNumber=#{param1} order by module limit ${param2},${param3}
	</select>
	<select id="getGoodsLabelSetById" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where id=#{param1}
	</select>
	<update id="editGoodsLabelSetById" parameterType="goodsPublic.entity.GoodsLabelSet">
		update goods_label_set set
		<if test="label!=null">
			label=#{label},
		</if>
		<if test="module!=null">
			module=#{module},
		</if>
		isShow=#{isShow},
		isPublic=#{isPublic},
		isCheck=#{isCheck},
		sort=#{sort}
		where id=#{id}
	</update>
	<update id="editOtherGoodsLabelSetNameByKeyAccountNumber" parameterType="goodsPublic.entity.GoodsLabelSet">
		update goods_label_set set
		<if test="label!=null">
			label=#{label}
		</if>
		where `key`=#{key} and accountNumber=#{accountNumber} and module!=#{module}
	</update>
	<select id="checkGoodsLabelExist" resultType="java.lang.Integer">
		select count(*) from goods_label_set where `key`=#{key} and module=#{module} and accountNumber=#{accountNumber}
	</select>
	<insert id="insertGoodsLabel">
		insert into goods_label_set(`key`,module,isShow,isPublic,isCheck,accountNumber,sort) values(#{key},#{module},0,0,0,#{accountNumber},0)
	</insert>
	<select id="getModuleSPZSBySPXQ" resultType="goodsPublic.entity.ModuleSPZS">
		select * from module_spzs where type=#{param1}
	</select>
	<select id="getModuleJZSGByType" resultType="goodsPublic.entity.ModuleJZSG">
		select * from module_jzsg where type=#{param1}
	</select>
	<select id="getModuleSPZSByMemo" resultType="goodsPublic.entity.ModuleSPZS">
		select * from module_spzs where type=#{param1}
	</select>
	<select id="getHtmlGoodsSPZS" resultType="goodsPublic.entity.HtmlGoodsSPZS">
		select * from html_goods_spzs where goodsNumber=#{param1} and accountNumber=#{param2}
	</select>
	<select id="getHtmlGoodsJZSG" resultType="goodsPublic.entity.HtmlGoodsJZSG">
		select * from html_goods_jzsg where userNumber=#{param1} and accountNumber=#{param2}
	</select>
	<delete id="deleteHtmlGoodsSPZSByIds">
		delete from html_goods_spzs where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
</mapper>