<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsPublic.dao.PublicMapper">
	<insert id="addGoodsPublic" parameterType="goodsPublic.entity.Goods" >
		insert into public_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id!=null">
				category_id,
			</if>
			<if test="accountNumber!=null">
				accountNumber,
			</if>
			<if test="goodsNumber!=null">
				goodsNumber,
			</if>
			<if test="title!=null">
				title,
			</if>
			<if test="imgUrl!=null">
				imgUrl,
			</if>
			<if test="htmlContent!=null">
				htmlContent,
			</if>
			gmt_create
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id!=null">
				#{category_id},
			</if>
			<if test="accountNumber!=null">
				#{accountNumber},
			</if>
			<if test="goodsNumber!=null">
				#{goodsNumber},
			</if>
			<if test="title!=null">
				#{title},
			</if>
			<if test="imgUrl!=null">
				#{imgUrl},
			</if>
			<if test="htmlContent!=null">
				#{htmlContent},
			</if>
			now()
		</trim>
	</insert>
	<update id="updateQrcode" parameterType="java.lang.String">
		update public_goods set qrCode=#{param1} where goodsNumber=#{param2}
	</update>
	<update id="updateSingleGoods" parameterType="goodsPublic.entity.Goods">
		update public_goods set 
		<if test="category_id!=null">
			category_id=#{category_id},
		</if>
		<if test="title!=null">
			title=#{title},
		</if>
		<if test="imgUrl!=''&amp;imgUrl!=null">
			imgUrl=#{imgUrl},
		</if>
		<if test="htmlContent!=null">
			htmlContent=#{htmlContent},
		</if>
		gmt_modified=now()
		where id=#{id}
	</update>
	<update id="updatePublicGoods" parameterType="goodsPublic.entity.Goods">
		update public_goods set 
		<if test="title!=null">
			title=#{title},
		</if>
		<if test="imgUrl!=''&amp;imgUrl!=null">
			imgUrl=#{imgUrl},
		</if>
		<if test="htmlContent!=null">
			htmlContent=#{htmlContent},
		</if>
		gmt_modified=now()
		where category_id=#{category_id} and accountNumber=#{accountNumber}
	</update>
	<update id="editAccountInfo" parameterType="goodsPublic.entity.AccountMsg">
		update account_info set 
		<if test="avatar_img!=''&amp;avatar_img!=null">
			avatar_img=#{avatar_img},
		</if>
		<if test="companyName!=''&amp;companyName!=null">
			companyName=#{companyName},
		</if>
		<if test="companyAddress!=''&amp;companyAddress!=null">
			companyAddress=#{companyAddress},
		</if>
		<if test="postcode!=''&amp;postcode!=null">
			postcode=#{postcode},
		</if>
		<if test="phone!=''&amp;phone!=null">
			phone=#{phone},
		</if>
		<if test="quotient!=''&amp;quotient!=null">
			quotient=#{quotient},
		</if>
		<if test="fax!=''&amp;fax!=null">
			fax=#{fax},
		</if>
		<if test="email!=''&amp;email!=null">
			email=#{email},
		</if>
		<if test="countCode!=''&amp;countCode!=null">
			countCode=#{countCode},
		</if>
		<if test="recordNumber!=''&amp;recordNumber!=null">
			recordNumber=#{recordNumber},
		</if>
		<if test="nickName!=''&amp;nickName!=null">
			nickName=#{nickName}
		</if>
		where id=#{id}
	</update>
	<select id="getAllGoodsMsg" resultType="goodsPublic.entity.Goods">
		select * from public_goods
		where goodsNumber=#{goodsNumber}
	</select>
	<select id="queryGoodsForInt" resultType="java.lang.Integer">
		select count(*) from public_goods where accountNumber=#{param1} and category_id=#{param2}
	</select>
	<select id="queryGoodsList" resultType="goodsPublic.entity.Goods">
		select * from public_goods where accountNumber=#{param1} and category_id=#{param2} limit ${param3},${param4}
	</select>
	<select id="queryGoodsListByCateId" resultType="goodsPublic.entity.Goods">
		select goodsNumber,title,imgUrl,category_id from public_goods where category_id=#{param1}
	</select>
	<select id="getGoodsById" resultType="goodsPublic.entity.Goods">
		select * from public_goods where id=#{param1}
	</select>
	<select id="getAccountById" resultType="goodsPublic.entity.AccountMsg">
		select * from account_info where id=#{param1}
	</select>
	<select id="getGoodsListByMsg" resultType="int">
		select count(*) from public_goods where accountNumber=#{id}
	</select>
	<select id="getGoodsLabelSetByModuleAccountId" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where module=#{module} and accountNumber=#{accountNumber} and isShow=1 order by sort
	</select>
	<select id="queryGoodsLabelSetForInt" resultType="java.lang.Integer">
		select count(*) from goods_label_set where accountNumber=#{param1}
	</select>
	<select id="queryGoodsLabelSetList" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where accountNumber=#{param1} order by module limit ${param2},${param3}
	</select>
	<select id="getGoodsLabelSetById" resultType="goodsPublic.entity.GoodsLabelSet">
		select * from goods_label_set where id=#{param1}
	</select>
	<update id="editGoodsLabelSet" parameterType="goodsPublic.entity.GoodsLabelSet">
		update goods_label_set set
		<if test="label!=null">
			label=#{label},
		</if>
		<if test="module!=null">
			module=#{module},
		</if>
		isShow=#{isShow},
		isPublic=#{isPublic},
		sort=#{sort}
		where id=#{id}
	</update>
	<select id="checkGoodsLabelExist" resultType="java.lang.Integer">
		select count(*) from goods_label_set where `key`=#{key} and module=#{module} and accountNumber=#{accountNumber}
	</select>
	<insert id="insertGoodsLabel">
		insert into goods_label_set(`key`,module,isShow,isPublic,accountNumber,sort) values(#{key},#{module},0,0,#{accountNumber},0)
	</insert>
</mapper>