<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsPublic.dao.RoleMapper">
	<select id="getRoleList">
		select role_table.role from role_table left join account_info on
		role_table.id=account_info.role
		where account_info.id=17
	</select>
</mapper>