<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsPublic.dao.RoleMapper">
	<select id="getRoleList" resultType="String">
		select role_table.role from role_table left join
		account_info on
		role_table.id=account_info.role
		where
		account_info.id=#{id}
	</select> 
	<select id="getPermissions" resultType="String">
		select p.permission from permission_table p LEFT JOIN
		role_permession rp on p.id=rp.permissionId
		where rp.roleId=#{id}
	</select>
</mapper>